<!DOCTYPE html>
<html>
    <head>
        <title>User-Session</title>
    </head>
    <body>
        <body style="background-color:rgb(176, 211, 117);"></body>
        <style>
            div.center {
                text-align: center;
           }
        </style>

        <div class="center">
            <h1>Zurzeit angemeldet: <%=user%></h1>
            <br>
            <a href="/abmeldung">Abmelden</a>
        </div>
    </body>
</html>