<!DOCTYPE html>
<html>
    <head>
        <title>User-Session</title>
    </head>
    <body>
        <h1>Zurzeit angemeldet: <%=user%></h1>
        <br>
        <a href="/abmeldung">Abmelden</a>
    </body>
</html>