<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing Page</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="Landing_Page.css"/>
<script id="applicationScript" type="text/javascript" src="Landing_Page.js"></script>
</head>
<body>
<div id="Landing_Page">
	<div id="Home">
		<div id="Group_1">
			<div id="n___8">
				<span>1 / 8</span>
			</div>
			<svg class="Rectangle_1">
				<rect id="Rectangle_1" rx="0" ry="0" x="0" y="0" width="160" height="2566">
				</rect>
			</svg>
		</div>
		<div id="Group_2">
			<div id="n___8_n">
				<span>2 / 8</span>
			</div>
			<svg class="Rectangle_2">
				<rect id="Rectangle_2" rx="0" ry="0" x="0" y="0" width="160" height="2566">
				</rect>
			</svg>
		</div>
		<div id="Group_3">
			<div id="n___8_q">
				<span>3 / 8</span>
			</div>
			<svg class="Rectangle_3">
				<rect id="Rectangle_3" rx="0" ry="0" x="0" y="0" width="160" height="2566">
				</rect>
			</svg>
		</div>
		<div id="Group_4">
			<div id="n___8_t">
				<span>4 / 8</span>
			</div>
			<svg class="Rectangle_4">
				<rect id="Rectangle_4" rx="0" ry="0" x="0" y="0" width="160" height="2566">
				</rect>
			</svg>
		</div>
		<div id="Group_5">
			<div id="n___8_w">
				<span>5 / 8</span>
			</div>
			<svg class="Rectangle_5">
				<rect id="Rectangle_5" rx="0" ry="0" x="0" y="0" width="160" height="2566">
				</rect>
			</svg>
		</div>
		<div id="Group_6">
			<div id="n___8_z">
				<span>6 / 8</span>
			</div>
			<svg class="Rectangle_6">
				<rect id="Rectangle_6" rx="0" ry="0" x="0" y="0" width="160" height="2566">
				</rect>
			</svg>
		</div>
		<div id="Group_7">
			<div id="n___8_">
				<span>7 / 8</span>
			</div>
			<svg class="Rectangle_7">
				<rect id="Rectangle_7" rx="0" ry="0" x="0" y="0" width="160" height="2566">
				</rect>
			</svg>
		</div>
		<div id="Group_8">
			<div id="n___8_ba">
				<span>8 / 8</span>
			</div>
			<svg class="Rectangle_8">
				<rect id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="160" height="2566">
				</rect>
			</svg>
		</div>
	</div>
	<div id="Header">
		<svg class="Rectangle_9">
			<rect id="Rectangle_9" rx="50" ry="50" x="0" y="0" width="1920" height="216">
			</rect>
		</svg>
		<div id="Logo" class="Logo">
			<img id="HashBikeFont" src="HashBikeFont.png" srcset="HashBikeFont.png 1x, HashBikeFont@2x.png 2x">
				
		</div>
		<div id="Menu">
			<div onclick="application.goToTargetView(event)" id="Login_bc">
				<span>Login</span>
			</div>
			<div id="Shop">
				<span>Shop</span>
			</div>
			<div id="Us">
				<span>Us</span>
			</div>
			<div id="Home_bf">
				<div id="Home_bg">
					<span>Home</span>
				</div>
				<svg class="UnterStrich" viewBox="0 0 165 10">
					<path id="UnterStrich" d="M 0 0 L 165 0">
					</path>
				</svg>
			</div>
		</div>
	</div>
</div>
</body>
</html>