<!DOCTYPE html>
<html>
     <head>
          <title>HashBike: Login</title>
     </head>

     <body>
          <body style="background-color:rgb(176, 211, 117);"></body>
          <style>
             div.center {
                  text-align: center;
             }
          </style>

          <div class="center">
               <h2>Login</h2>

               <form action="/kontakt" method="POST">
                    <label for="bname">Benutzername</label><br>
                    <input type="text" id="bname" name="bname"><br>
                    <label for="pwd">Passwort:</label><br>
                    <input type="password" id="pwd" name="pwd"><br><br>
                    <input type="submit" value="Login">
               </form><br>

               <a href="/register">
                    Zur Registrierung </a><br><br>

               <a href="/home">
                    Zur Startseite </a>
          </div>
     </body> 
</html>