<!DOCTYPE html>
<html>
    <head>
    <script src="store.js" async> </script>
    <link rel="stylesheet" href="styles.css"/>
    <title>Produkte</title>
</head>
<body>
<header class="main-header">
    <nav class="nav main-nav">
        <ul>
            <li><a href="startseite">Zur Startseite</a></li> <!--Startseite und Login müssen noch angeleicht werden-->
            <li><a href="Login.html">Zum Login</a></li>
            <li><a href="warenkorb.html">Zum Warenkorb</a></li>
        </ul>
    </nav>
    <h1 class="Produktmain Produktmain-large">Produktübersicht</h1>
</header>
<section class="container content-section">
        <div class="shop-items">

        <% for(var i = 0; i < produkte.length; i++){ %>

            <div class="shop-item">           
                <span class="shop-item-title"><%= produkte[i].name %></span>
            <img class="shop-item-image" src="<%= produkte[i].bild %>" >
            <div class="shop-item-details">
                <span class="shop-item-price"><%= produkte[i].preis %> €</span>
                <button type="btn btn-primary shop-item-button">In den Warenkorb</button>
            </div>
        </div>

        <% } %>

        </div>
</section>
        
    <header class="second-header">
        <nav class="nav main-nav">
    <li> <a href="warenkorb.html"> Zum Warenkrob </a></li>
    </header>
    </nav>  
</html> 