<!DOCTYPE html>
<html>
    <head>
        <title>Registrierung</title>
    </head>
    <body>
        <body style="background-color:rgb(176, 211, 117);"></body>
        <style>
           div.center {
                text-align: center;
           }
        </style>

        <div class="center">
            <h2>Registrierung</h2>

            <form action="/postreg" method="POST">
                <label for="regVorname">Vorname</label><br>
                <input type="text" id="regVorname" name="regVorname"><br>

                <label for="regNachname">Nachname</label><br>
                <input type="text" id="regNachname" name="regNachname"><br>

                <label for="regEmail1">E-Mail</label><br>
                <input type="email" id="regEmail1" name="regEmail1"><br>

                <label for="regEmail2">E-Mail wiederholen</label><br>
                <input type="email" id="regEmail2" name="regEmail2"><br>

                <label for="regPwd1">Passwort</label><br>
                <input type="password" id="regPwd1" name="regPwd1"><br>

                <label for="regPwd2">Passwort wiederholen</label><br>
                <input type="password" id="regPwd2" name="regPwd2"><br><br>

                <input type="submit" value="Registrieren">
           </form><br>

           <a href="/home">
                Zur Startseite </a>
    </body>
</html>