<!DOCTYPE html>
<html>
    <head>
        <title>Registrierung</title>
    </head>
    <body>
        <body style="background-color:rgb(176, 211, 117);"></body>
        <style>
           div.center {
                text-align: center;
           }
        </style>

        <div class="center">
            <h2>Registrierung</h2>

            <form action="/postreg" method="POST">
                <label for="regname">Benutzername</label><br>
                <input type="text" id="regname" name="regname"><br>
                <label for="regpwd">Passwort:</label><br>
                <input type="password" id="regpwd" name="regpwd"><br><br>
                <input type="submit" value="Registrieren">
           </form><br>
    </body>
</html>