.mediaViewInfo {
	--web-view-name: Landing Page;
	--web-view-id: Landing_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Landing_Page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Landing_Page {
	position: absolute;
	width: 1920px;
	height: 2566px;
	background-color: rgba(255,255,255,1);
	overflow: auto;
	--web-view-name: Landing Page;
	--web-view-id: Landing_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Home {
	opacity: 0.6;
	position: absolute;
	width: 1px;
	height: 1px;
	left: -2800px;
	top: -144px;
	overflow: visible;
}
#Group_1 {
	position: absolute;
	width: 160px;
	height: 2576px;
	left: 2896px;
	top: 134px;
	display: none;
	overflow: visible;
}
#n___8 {
	left: 41px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,0.4);
}
#Rectangle_1 {
	fill: rgba(105,180,255,0.18);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 2566px;
	left: 0px;
	top: 10px;
}
#Group_2 {
	position: absolute;
	width: 160px;
	height: 2576px;
	left: 3120px;
	top: 134px;
	display: none;
	overflow: visible;
}
#n___8_n {
	left: 41px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,0.4);
}
#Rectangle_2 {
	fill: rgba(152,235,255,0.2);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 2566px;
	left: 0px;
	top: 10px;
}
#Group_3 {
	position: absolute;
	width: 160px;
	height: 2576px;
	left: 3344px;
	top: 134px;
	display: none;
	overflow: visible;
}
#n___8_q {
	left: 41px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,0.4);
}
#Rectangle_3 {
	fill: rgba(105,180,255,0.18);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 2566px;
	left: 0px;
	top: 10px;
}
#Group_4 {
	position: absolute;
	width: 160px;
	height: 2576px;
	left: 3568px;
	top: 134px;
	display: none;
	overflow: visible;
}
#n___8_t {
	left: 41px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,0.4);
}
#Rectangle_4 {
	fill: rgba(152,235,255,0.2);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 2566px;
	left: 0px;
	top: 10px;
}
#Group_5 {
	position: absolute;
	width: 160px;
	height: 2576px;
	left: 3792px;
	top: 134px;
	display: none;
	overflow: visible;
}
#n___8_w {
	left: 41px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,0.4);
}
#Rectangle_5 {
	fill: rgba(105,180,255,0.18);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 2566px;
	left: 0px;
	top: 10px;
}
#Group_6 {
	position: absolute;
	width: 160px;
	height: 2576px;
	left: 4016px;
	top: 134px;
	display: none;
	overflow: visible;
}
#n___8_z {
	left: 41px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,0.4);
}
#Rectangle_6 {
	fill: rgba(152,235,255,0.2);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 2566px;
	left: 0px;
	top: 10px;
}
#Group_7 {
	position: absolute;
	width: 160px;
	height: 2576px;
	left: 4240px;
	top: 134px;
	display: none;
	overflow: visible;
}
#n___8_ {
	left: 41px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,0.4);
}
#Rectangle_7 {
	fill: rgba(105,180,255,0.18);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 2566px;
	left: 0px;
	top: 10px;
}
#Group_8 {
	position: absolute;
	width: 160px;
	height: 2576px;
	left: 4464px;
	top: 134px;
	display: none;
	overflow: visible;
}
#n___8_ba {
	left: 41px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(0,0,0,0.4);
}
#Rectangle_8 {
	fill: rgba(152,235,255,0.2);
	stroke: rgba(0,0,0,0);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 160px;
	height: 2566px;
	left: 0px;
	top: 10px;
}
#Header {
	position: absolute;
	width: 1920px;
	height: 216px;
	left: 0px;
	top: -51px;
	overflow: visible;
}
#Rectangle_9 {
	opacity: 0.5;
	fill: rgba(234,239,182,1);
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 216px;
	left: 0px;
	top: 0px;
}
#Logo {
	position: absolute;
	width: 588px;
	height: 123px;
	left: 96px;
	top: 72px;
	overflow: visible;
}
#HashBikeFont {
	position: absolute;
	width: 588px;
	height: 123px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Menu {
	position: absolute;
	width: 832px;
	height: 93px;
	left: 977px;
	top: 89px;
	overflow: visible;
}
#Login_bc {
	left: 467px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 152px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Login.html;
	cursor: pointer;
	text-align: left;
	font-family: Manrope;
	font-style: normal;
	font-weight: bold;
	font-size: 67.33999633789062px;
	color: rgba(0,0,0,1);
	letter-spacing: -1.5px;
}
#Shop {
	left: 684px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Manrope;
	font-style: normal;
	font-weight: bold;
	font-size: 67.33999633789062px;
	color: rgba(0,0,0,1);
	letter-spacing: -1.5px;
}
#Us {
	left: 280px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Manrope;
	font-style: normal;
	font-weight: bold;
	font-size: 67.33999633789062px;
	color: rgba(0,0,0,1);
	letter-spacing: -1.5px;
}
#Home_bf {
	position: absolute;
	width: 174px;
	height: 93px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Home_bg {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 175px;
	white-space: nowrap;
	text-align: left;
	font-family: Manrope;
	font-style: normal;
	font-weight: bold;
	font-size: 67.33999633789062px;
	color: rgba(149,178,60,1);
	letter-spacing: -1.5px;
}
#UnterStrich {
	fill: transparent;
	stroke: rgba(149,178,60,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.UnterStrich {
	overflow: visible;
	position: absolute;
	width: 165px;
	height: 10px;
	left: 8px;
	top: 79.5px;
	transform: matrix(1,0,0,1,0,0);
}