.mediaViewInfo {
	--web-view-name: Login;
	--web-view-id: Login;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Login;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Login {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Login;
	--web-view-id: Login;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Background_Graphics {
	position: absolute;
	width: 2168px;
	height: 1033px;
	left: -13px;
	top: 24px;
	overflow: visible;
}
#Logo_bl {
	position: absolute;
	width: 1033px;
	height: 1033px;
	left: 1135px;
	top: 0px;
	overflow: visible;
}
#Kurrier {
	position: absolute;
	width: 1033px;
	height: 1033px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#LogoFont {
	opacity: 0.24;
	position: absolute;
	width: 1920px;
	height: 401px;
	left: 0px;
	top: 316px;
	overflow: visible;
}
#HashBikeFont_bo {
	position: absolute;
	width: 1920px;
	height: 401px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_11 {
	opacity: 0.85;
	fill: rgba(83,83,82,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 876px;
	height: 475px;
	left: 514px;
	top: 303px;
}
#Login_bq {
	position: absolute;
	width: 601px;
	height: 418px;
	left: 674px;
	top: 319px;
	overflow: visible;
}
#Login_br {
	left: 206px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 162px;
	white-space: nowrap;
	text-align: left;
	font-family: Manrope;
	font-style: normal;
	font-weight: bold;
	font-size: 67.33999633789062px;
	color: rgba(234,239,182,1);
	letter-spacing: -1.12px;
}
#Pass {
	position: absolute;
	width: 598px;
	height: 66px;
	left: 3px;
	top: 107px;
	overflow: visible;
}
#Rectangle_12 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 598px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Icon_ionic-ios-mail {
	position: absolute;
	width: 60.039px;
	height: 35.972px;
	left: 30.561px;
	top: 15.014px;
	overflow: visible;
}
#Path_2 {
	fill: rgba(51,51,51,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 60.039px;
	height: 30.613px;
	left: 0px;
	top: 5.359px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
	fill: rgba(51,51,51,1);
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 56.315px;
	height: 28.29px;
	left: 1.87px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Email_Adresse {
	opacity: 0.42;
	left: 156px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 230px;
	white-space: nowrap;
	text-align: left;
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 37.900001525878906px;
	color: rgba(51,51,51,1);
	letter-spacing: -0.64px;
}
#Mail {
	position: absolute;
	width: 598px;
	height: 66px;
	left: 0px;
	top: 209px;
	overflow: visible;
}
#Rectangle_12_bz {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_12_bz {
	position: absolute;
	overflow: visible;
	width: 598px;
	height: 66px;
	left: 0px;
	top: 0px;
}
#Passwort {
	opacity: 0.42;
	left: 158px;
	top: 7px;
	position: absolute;
	overflow: visible;
	width: 159px;
	white-space: nowrap;
	text-align: left;
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 37.900001525878906px;
	color: rgba(51,51,51,1);
	letter-spacing: -0.64px;
}
#Icon_awesome-lock {
	fill: rgba(51,51,51,1);
}
.Icon_awesome-lock {
	overflow: visible;
	position: absolute;
	width: 38px;
	height: 43.429px;
	left: 39px;
	top: 12px;
	transform: matrix(1,0,0,1,0,0);
}
#Login_Button {
	position: absolute;
	width: 261px;
	height: 60px;
	left: 145px;
	top: 358px;
	overflow: visible;
}
#Rectangle_13 {
	fill: rgba(149,178,60,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 261px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Einloggen {
	left: 48px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: left;
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 37.900001525878906px;
	color: rgba(0,0,0,1);
	letter-spacing: -0.64px;
}
#Component_5__1 {
	position: absolute;
	width: 359px;
	height: 29px;
	left: 96px;
	top: 304px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: SignUp.html;
	cursor: pointer;
}
#Noch_keinen_Account_Hier_regis {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 360px;
	white-space: nowrap;
	text-align: left;
	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(51,51,51,1);
	letter-spacing: -0.64px;
}